<h1>Stocking</h1>
<%= form_tag root_path, :method => 'POST' do %>
    <%= text_field_tag 'ticker', nil, placeholder: "Enter ticker symbol", size: 50 %>
    <%= submit_tag 'Lookup' %>
<% end %>

<%# <% stock =StockQuote::Stock.quote("aapl") %> %>

<%= stock.company_name %>
